# package directories
node_modules
jspm_packages

# IDE folders
vscode
.vscode

# Localstack directories
.localstack

# Coverage output
**/coverage

dist/

# Nx cache
.nx/cache
.nx/workspace-data

vite.config.*.timestamp*
